.cor-principal {
  background-color: #1800ad;
}

.cor-texto {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 30px;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #000000a6;
  box-shadow: 0 5px 15px rgba(0, 60, 255, 0.47);
  max-width: 700px;
  margin: auto;
}

legend {
  font-size: 1.5rem;
  color: #0059dfff;
  margin-bottom: 8px;
  padding: 0 5px;
}
