.cor-principal {
    background-color: #1800AD;   
}

.cor-texto {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;  
    text-align: center;
    margin: 30px;
}

form {
  background-color: #ffffffff;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #000000a6;
  box-shadow: 0 5px 15px rgba(0, 60, 255, 0.47);
  max-width: 700px;
  margin: auto;
}

legend {
  font-size: 1.5rem;
  font-weight: Poppins;
  color: #0059dfff;
  margin-bottom: 20px;

}

#bt-primary {
    font-size: 1.2rem;     
    padding: 10px 120px; 
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}   

#bt-secondary {
    font-size: 1.2rem;     
    padding: 10px 120px; 
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
}   

#adicionarCapacitacao{
    font-size: 1.0rem;     
    padding: 10px 100px; 
    border-radius: 20px;
    text-align: center;
    margin-left: 120px;
    background-color: #2b7cf6ff;
    box-shadow: 0 5px 15px rgba(0, 60, 255, 0.47);
}

#btEnviar-forms {

    font-size: 1.2rem;     
    padding: 10px 300px; 
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;

}
